header {
  border-radius: 1rem;
  border: 0.5rem solid var(--black);
  box-shadow: -8px 9px 0px -1px var(--black);
  background-color: var(--white);
  padding: 0.5rem 0;
}
.playres {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
header img {
  max-width: 4.5rem;
}
.active {
  background-color: var(--blue);
  height: 5px;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.active::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  background: var(--blue);
  left: 50%;
  top: -3px;
  transform: translateX(-50%) rotate(45deg);
  transition: all 0.3s ease-in-out;
}
