.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  max-width: 26rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer {
  padding: 1rem 0.6rem;
  background-color: var(--white);
  box-shadow: -8px 9px 0px -1px var(--black);
  border: 0.5rem solid var(--black);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
}

@media screen and (width < 450px) {
  .container {
    margin: auto 1rem;
  }
}
